<div class="footer">
    <div class="container-fluid">
        <div class="row" style="padding-bottom:3px">
            <div class="col-md-12 text-center">
                <img src="~/Content/Imagem/cotin.png" alt="logo" title="Coordenadoria Especial de Técnologia da Informação" class="SGI" style="width:13%" />
                <p style="font-size:12px; color:white; margin: 5px 0px 0px 0px">© 2019 COTIN - Todos direitos reservados</p>
            </div>
        </div>
    </div>
</div>